/* CSS Document */
body{line-height:150%;margin:0;padding:0;text-align:left;font-size:12px;font-family:"宋体";color:#333;}
body>div{margin:0 auto;text-align:left;clear:both;}
div{text-align:left;}
h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,li,p,span,i,em{margin:0;padding:0;font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:14px;}
dl,dt,dd,ul,li{list-style-type:none;display:block;}
img{border:0;}
table{border-collapse:collapse;border-spacing:0}
from,select,input{margin:0;padding:0;vertical-align:middle;}
a{color:#000;text-decoration:none;}
a:hover{text-decoration:underline;}
.clear{clear:both;visibility:hidden;height:0;line-height:0;font-size:0;}
.clearfix:after{clear:both;content:".";height:0;display:block;visibility:hidden;}
.clearfix{*zoom:1;}

.bd_con4 { background: #fff; position: relative; width:1000px;overflow: hidden; }
.bd_c4l { background: #F9F1E6; float: left;  width: 60px; padding-top: 64px; display: inline-block; }
.bd_c4l ul li { font: 18px/107px "微软雅黑"; color: #FFF; text-align: center; height: 60px; width: 60px; cursor: pointer; background: #707070; margin: 0px 3px 3px 0px;}
.bd_c4l ul .bd_cutLi { background: #6B0904; }
.bd_c4r { float: left;margin-left: 80px;display: inline-block;}
.bd_c4top{position: relative;}
.bd_c4top .bd{overflow: hidden;position: relative;}
.bd_c4top .bd_lbtn { height: 333px;
    padding: 0px 0px 0px 5px;
    float: left;
    width: 23px;
    background: url(../images/bd_lbtn.jpg) no-repeat;
    display: block;
    height: 21px;
    top: 172px;
    z-index: 999999;
    position: absolute;
 margin-top: 145px;}
.bd_rbtn { float: right; width: 19px; padding-top: 0px; padding-right: 9px; display: block; height: 21px; margin-top: 145px; background: url(../images/bd_rbtn.jpg) no-repeat; position: absolute;top:300px;right:-20px;}
.bd_lbtn:hover { background: url(../images/hbd_lbtn.jpg) no-repeat; }
.bd_rbtn:hover { background: url(../images/hbd_rbtn.jpg) no-repeat; }
.bd_chgBox { float: left; height: 800px; width: 800px;  position:relative}
.bd_long { width: 2970px; position: absolute; left: 0px; top: 0px; height:333px; }
.bd_long ul li { height: 800px; width: 800px; float: left; font-family: "微软雅黑"; }
.bc_chgTitle { height: 54px; text-align: center; width: 268px; padding-top: 9px; font: bold 16px/54px "微软雅黑"; }
.bd_lbtn img,.bd_rbtn img{cursor:pointer}
.bd_long ul li p { font-size: 14px; line-height: 22px; padding-top: 12px; }
